extends layout

block content
  h1 Lead
  p
    span #{lead.email}
    | 
    a(href="/lead/edit/" + lead.id) Edit Details
    |
    form(action="/lead/delete/" + lead.id, method="POST")
      button(type="submit") Delete Email