doctype html
html(lang='en')
  include ../Common/header.pug
  +head("Login up MVP")
  body
    header
      include ../Common/navbar.pug
      +navbar()
      div.container
        div.row
          div.col-sm-12.offset-md-2.col-md-8
            div.jumbotron
              h2.text-center Sign up
              div.row
                div.col-sm-12.col-md-12
                  form(action='/signup', method='POST')
                    div.formgroup
                      label.small.mb-1.mt-3 Email:
                      input(placeholder='Enter your email', required=true, name='sign-email', type='email', value='').form-control
                      label.small.mb-1.mt-3 Password:
                      input(placeholder='Enter your current password', required=true, name='sign-password', type='password', value='').form-control
                      button.mt-3.btn.btn-primary(type='submit') Log in
                      p.mt-2.mb-0
                      | Already have an account? #[a(href="/login") Reset here].
                      p.m-0
                      | Don't have an account? #[a(href="/signup") Sign up here].

    include ../Common/footer.pug
    +footer()
    script(src='/public/javascripts/leads.js')